{% extends "tasklist/list-base.html" %}

{% block title %}Task List Login{% endblock %}
{% block content %}
<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
    <fieldset>
        <ul>
            {{ form.non_field_errors }}
            {% for field in form %}
                <li>{{ field.label_tag }}<br />
                {{ field }}{{ field.errors }}
                </li>
            {% endfor %}
        </ul>
        <p>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </p>
    </fieldset>
</form>

<div class="register">
    <p>Don't have an account? <a href="{% url registration_register %}">register here</a>.</p>
</div>
<p><a href={% url auth_password_reset %}>Forgot your password?</a></p>
{% endblock %}