{% extends "tasklist/list-base.html" %}

{% block title %}Task List Register{% endblock %}

{% block content %}
<h1>Registration Form</h1>
<form action="" method="post">{% csrf_token %}
    <fieldset>
        <ul>
            {{ form.non_field_errors }}
            {% for field in form %}
                <li>{{ field.label_tag }}<br />
                {{ field }}{{ field.errors }}
                </li>
            {% endfor %}
        </ul>
        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
</form>

{% endblock %}