* {margin: 0; padding: 0;}

h1, h2, h3, h4, h5, h6, p {margin: 1em 0;}
h1 {font-size: 1.4em;}
h2 {font-size: 1.2em;}
h3 {font-size: 1.1em;}
h4 {font-size: 1.0em;}
h5 {font-size: 0.9em;}
h6 {font-size: 0.8em;}

html {-webkit-text-size-adjust: none;}
body {
    font-family: Georgia, 'Times New Roman' 'Sans Serif';
    color: #333;
    text-align: center;
    width: 100%;
}

a, a:visited {text-decoration: none; color: purple; /*line-height: 2em;*/}

header h1 {background-color: purple; border-bottom: 1px solid #333; color: #fff; font-size: 1.6em; margin: 0; padding: .25em 0;}

nav {text-align: left; height: 2em; border-bottom: 1px solid #333;}
nav .button {float: left;}
nav .button img {padding: .25em; float: left; height: 1.5em;}

input {font-size: 1.2em; margin-right: 5px;}
form {margin: auto; margin: .5em;}
form fieldset {border: none; text-align: left; }
form label {margin-right: .5em;}
form fieldset ul {list-style-type: none; }
form fieldset li {padding: 0; border: none; margin: 5px 0;}
form [type=submit] {padding: .25em .5em; border-radius: 5px; background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.29, rgb(82,138,45)),
    color-stop(0.89, rgb(156,75,147))
); font-weight: bold; color: #fff;}

.errorlist {color: #f00;}
.errorlist li {border: none;}

footer p {margin: .5em 0;}
footer p.logout {float: right; margin: 0 1em 0 0;}

ul.content {text-align: left;}
ul.content li {border-bottom: 1px solid #333; line-height: 2.5em; padding: 0 .5em;}
li.list_name a {display: block;}
li.list_name {padding-right: 10px; background: url({{ MEDIA_URL }}images/iPhoneArrow.png) right center no-repeat;}
ul li.task_item {background: url({{ MEDIA_URL }}images/box.png) 5px center no-repeat; padding-left: 1.5em;}
ul li.completed {text-decoration: line-through; background-image: url({{ MEDIA_URL }}images/checked.png);}

.center {text-align: center;}
.hidden {display: none;}