{% extends "tasklist/list-base.html" %}

{% block title %}Lists{% endblock %}
{% block page_title %}All Lists{% endblock %}

{% block list_items %}
<ul>
    {% comment %}
    <li><a href="{% url tasklist:add_list %}"><span class="icon"><img src="{{ MEDIA_URL }}images/add.png" alt="add item"></span>New List</a></li>
    {% for list in lists %}
    <li class="list_name"><a href="{% url tasklist:tasks list.key.id %}">{{ list }}</a></li>
    {% empty %}
    <li>No Lists available...</li>
    {% endfor %}
    {% endcomment %}
</ul>
{% endblock %}