<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <style type="text/css">
            {% include "tasklist/css/tasklist.css" %}
            {% block css %}{% endblock %}
        </style>
    </head>
    <body>
        <header>
            <h1>{% block page_title %}List App{% endblock %}</h1>
        </header>
        <nav>
            {% block nav %}{% endblock %}
        </nav>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            <p>&copy; {% now "Y" %} - Two Madisons</p>
            {% if user.is_authenticated %}
            <p class="logout">Logged in as [{{ user }}]&nbsp; | &nbsp; <a href="{% url logout %}?next=/">logout</a></p>
            {% endif %}
        </footer>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript">
            {% block scripts %}{% endblock %}
        </script>
    </body>
</html>