{% extends "tasklist/list-base.html" %}

{% block title %}Tasks{% endblock %}
{% block page_title %}{{ tasklist }}{% endblock %}

{% block content %}
    <ul>
        <li><a href="{{ tasklist.get_add_task_url }}"><img src="{{ MEDIA_URL }}images/add.png" alt="add task"> Add Task</a></li>
    {% for task in tasks %}
        <li id="{{ task.id }}" class="task_item{% if task.status == 1 %} completed{% endif %}">{{ task }}</li>
    {% empty %}
        <li>No Tasks Yet...</li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
    {% comment %}
    {% include "tasklist/change_status_ajax.js" %}
    {% endcomment %}
{% endblock %}
