{% extends "tasklist/list-base.html" %}

{% block title %}Tasks{% endblock %}
{% block page_title %}{{ tasklist }}{% endblock %}

{% block nav %}
<nav>
    <div class="button add_task">
        <span style="line-height: 2em;"><img src="{{ MEDIA_URL }}images/add.png" alt="add task"> Add Task</span>
    </div>
    <div class="button" style="float: right;">
        <a href="{% url tasklist:index %}"><img src="{{ MEDIA_URL }}images/house.png" alt="home"></a>
    </div>
</nav>
{% endblock %}

{% block content %}
<ul class="content">
    <li class="task_form hidden">
        {% include "tasklist/forms/add_task_form.html" %}
    </li>
    {% for task in tasks %}
        <li id="{{ task.id }}" class="task_item{% if task.status == 1 %} completed{% endif %}">{{ task }}</li>
    {% empty %}
        <li>No Tasks Yet...</li>
    {% endfor %}
</ul>
{% include "tasklist/forms/clear_completed_form.html" %}


{% endblock %}
